/* The box-shadow CSS property adds shadow effects around an element's frame. You can set multiple effects separated by commas. A box shadow is described by X and Y offsets relative to the element, blur and spread radius, and color. */

p {
  padding: 10px;
  border: 2px solid black;
  width: 300px;
  height: 100px;
  /* box-shadow: 10px 5px 5px red; */
  box-shadow: 12px 12px 8px rgba(0, 0, 255, .2);

  /* The overflow CSS shorthand property sets the desired behavior when content does not fit in the element's padding box (overflows) in the horizontal and/or vertical direction. */

  /* overflow: visible; */
  /* Overflow content is not clipped and may be visible outside the element's padding box. The element box is not a scroll container. This is the default value of the overflow property. */

  /* overflow: hidden; */
  /* Overflow content is clipped at the element's padding box. There are no scroll bars, and the clipped content is not visible (i.e., clipped content is hidden), but the content still exists.  */
  overflow: scroll;

  /* overflow-y: hidden; */
  /* overflow-x: scroll; */
}