body {
  /* The linear-gradient() CSS function creates an image consisting of a progressive transition between two or more colors along a straight line. */
  /* background-image: linear-gradient(to right, #191654, #43C6AC); */
  /* background-image: linear-gradient(to left, #191654, #43C6AC); */
  /* background-image: linear-gradient(to top, #191654, #43C6AC); */
  height: 100vh;
  
  /* background-image: linear-gradient(45deg, red, blue); */
  
  /* background-image: linear-gradient(
    to right,
    red 20%,
    orange 20% 40%,
    yellow 40% 60%,
    green 60% 80%,
    blue 80%
  ); */

  /* The radial-gradient() CSS function creates an image consisting of a progressive transition between two or more colors that radiate from an origin */

  /* background-image: radial-gradient(cyan , pink, yellow); */
  /* background-image: radial-gradient(cyan 60% , pink, yellow); */

  /* The conic-gradient() CSS function creates an image consisting of a gradient with color transitions rotated around a center point (rather than radiating from the center). */

  /* background-image: conic-gradient(red, orange, yellow, green, blue); */
  /* background-image: conic-gradient(red 90%, orange, yellow, green, blue, red); */

  /* with multiple color stop lengths */
  /* background-image: repeating-linear-gradient(
    45deg,
    transparent 0 20px,
    black 20px 40px
  );   */

  background: repeating-radial-gradient(
    black,
    black 5px,
    white 5px,
    white 10px
  );
}

h1 {
  /* color: #fff; */
}

div {
  background: conic-gradient(red 36deg, orange 36deg 170deg, yellow 170deg);
  border-radius: 50%;
  height: 400px;
  width: 400px;
}


