body {
  background-color: lightcyan;
}

button:hover {
  background-color: lightsalmon;
  cursor: pointer;
}

button:active {
  box-shadow: 0.5rem 0.5rem 0.5rem blue;;
}

/* .first {
  font-weight: bold;
  font-size: 1.25rem;
} */

/* article p:first-child { */
article p:last-child {
  font-weight: bold;
  font-size: 1.25rem;
}

/* li:first-child {
  color:crimson;
}

li:last-child {
  color: olivedrab;
} */

li:nth-child(odd) {
  color:crimson;
}

li:nth-child(even) {
  color: olivedrab;
}

/* Only have alternate color */
/* Select Even */
/* li:nth-child(2n) {
  color: darkmagenta
} */

/* Select Odd */
/* li:nth-child(2n + 1) {
  color: darkmagenta
} */

/* h2:first-of-type {
  background-color: firebrick;
}

h2:last-of-type {
  background-color: goldenrod;
} */

input:focus {
  background-color: orange;
}

input:disabled {
  background-color: lightgrey;
}

input:placeholder-shown {
  background-color: chartreuse;
}


section.hero {
  text-decoration: underline;
}

section:not(.hero) {
  font-weight: bold;
}


/* Pseudo Elements */
/* article p span {
  background-color: indianred;
} */

section p {
  font-weight: normal;
  width: 600px;
}

section p::first-line {
  background-color: indianred;
}

section p::first-letter {
  font-size: 4rem;
  color: blueviolet;
}

input::placeholder {
  color: red;
}

section p::selection {
  color: red;
  background-color: yellow;
}

header::before {
  content: "Hello";
}

header::after {
  content: "!";
}

.point li {
  list-style-type: none;
}

.point li:before {
  content: "> ";
}
