body {
  margin: 0;
  padding: 0;
  font-family: "Forum", serif;
}

.top {
  background-color: #f08e80;
  height: 90vh;
  color: #fff;
}

/* .navbar p , .navbar .links, .navbar button{
  display: inline-block;
} */

.navbar {
  padding: 1rem;
}

.navbar p,
.navbar .links {
  float: left;
}

.navbar .links a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 1.25rem;
}

.navbar p {
  margin: 0;
  margin-left: 30%;
  font-size: 2rem;
  font-weight: bold;
}

.navbar .contact {
  float: right;
  background-color: #fff;
  color: #f08e80;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.navbar .contact:hover {
  cursor: pointer;
  background-color: blanchedalmond;
  color: #000;
}

article {
  clear: both;
}

.hero, .blog {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 6rem;
  font-size: 1.5rem;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
  letter-spacing: 2px;
  margin-bottom: 4rem;
}

.two-col-section > p {
  width: 50%;
  float: left;
}

ul.skills {
  padding: 0;
  width: 50%;
  float: left;
}

.skills li {
  list-style: none;
  width: 50%;
  float: left;
  line-height: 1.5;
}

.blog-posts {
  width: 50%;
  float: left;
}

/* .two-col-section .blog-posts .blog-post p {
  width: 100%;
  float: none;
} */

.blog-post {
  background-color: #f4f4f4;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem ;
}

.blog-heading {
  font-size: 2rem;
}

.blog-text {
  font-size: 1rem;
}

.blog-date {
  font-size: 0.9rem;
  color: gray;
}

footer {
  background-color: #000;
  clear: both;
  padding: 1rem;
  text-align: center;
}

footer img {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}
